body {
	height: 250px;
}


.s0 {
border: 2px dotted blue;
height: 250px;
width: 250px;
position: absolute;
top:100px;
left: 100px;
}

.s1 {
	border: 2px solid red;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 25px;
	left: 25px;
}

.s2{
	border: 2px solid blue;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 100px;
	left: 100px;
}
.s3{
	border: 2px solid green;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 175px;
	left: 175px;
}